/* Import Fonts */
/* Google Font 'Noto Sans SC' 400 / 100 and 'Assistant' 100 */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Noto+Sans+SC:wght@100;400&display=swap');


/* Typography....I guess */
*{
    font-family: 'Noto Sans SC', sans-serif;
}
span{
    font-family: 'Assistant', sans-serif;
}
.widget-header{
    text-align: center;
    font-size: small;
    color: rgba(97, 97 , 97, 1);
}


/* Root Styles */
body{
    margin:0;
}

    /* borders */
section{
    border-top: 1px solid rgba(97, 97 , 97, .5);
    margin: 10px 10px 0 10px;
}
section:first-child{
    border-top: none;
}


/* header */
header{
    grid-area: header;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

     background-color: #ed651d;
     color: #eee;
}
header h1{
    margin:0;
}

#profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#bell-icon{
    height: 20px;
    width: 20px;
    border-right:1px solid #20272F;
    margin-right: 10px;
    padding-right: 10px;
}
#profile-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: none;
}


/* Navigation */
nav{
    grid-area: nav;

    background-color:#737373;
}
#nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 40px;
    list-style: none;
    margin: 0;
    padding-top: 5px;
    padding-left: 0;
}
.nav-link{
    height: 30px;
    width: 30px;
}


/* Main Content */
main{
    grid-area: content;

    display: flex;
    flex-direction: column;

}


/* Graph Containers */
.graph-wrapper label{
    font-family: 'Assistant', sans-serif;
    font-weight: 100;
    
}

/* Line Container */
#line-wrapper{
    grid-area: lineChart;
}
#line-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#line-header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#line-header li{
    font-family: 'Assistant', sans-serif;
    font-weight: 100;

    margin-left:5px;
}
/* bar chart container */
#bar-wrapper{
    grid-area: barChart;
}
/* Pie Chart Container */
#pie-wrapper{
    grid-area: pieChart;
}
#pie-layout{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;

    place-items: center;
}
#pie-chart{
    grid-row: 1;
    grid-column: 1 / 2;
    
}
#pie-legend{
    grid-row:1;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
}
.legend-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.legend-div{
    height:20px;
    width:20px;
    border-radius: 5px;
    margin-right:10px;
}
#legend-phone{
    background-color: #ed651d;
}
#legend-tablet{
    background-color: rgb(38, 125, 217);
}
#legend-desktop{
    background-color:  #737373;
}


/* Social Containers */
#social-wrapper{
    display: flex;
    flex-direction: column;
    place-content: center;

    grid-area: social;
}
.social-container{
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: 1em 2em;

    background-color: rgb(255, 232, 221);
    border:1px solid #737373;
    margin-bottom: 10px;
    padding:5px;
    min-width: 90%;
    border-radius: 5px;

    text-align: left;
}
.social-container h5, .social-container span{
    margin:0;
    padding-left:25%;
}
.social-container span{
    font-size: x-large;
}
.social-container h5{
    color: #ed651d;
    font-size: smaller;
}
.svg{
    grid-row: 1 / 3;
    grid-column: 1 / 2;

    display: grid;
    place-items: center;

    background-color:  rgb(38, 125, 217);
    border-radius: 50%;
}
.svg svg{
    height: 35px;
    width: 35px;
}
#twitter-icon{
    margin-top:8px;
}
#facebook-icon{
    margin:5px;
}
#google-icon{
    margin:5px;
}


/* New Member Container */
#member-wrapper{
    grid-area:member;
}
#member-ul, #activity-ul{
    list-style: none;
    padding-left: 0;
}
.member-listItem{
    display: grid;
    grid-template-columns: 4em auto 5em;
    grid-template-rows: 50% 50%;
    /* place-items: center; */

    padding: 5px 0 5px 0;
    border-bottom: 1px solid lightgray;
}
.member-listItem:last-child, .activity-listItem:last-child{
    border-bottom: none;
    padding-top:5px;
}
.member-listItem h5, .member-listItem p,
.activity-listItem h5, .activity-listItem p{
    margin: 0;
}
.user-img{
    grid-row:1 / 3;
    grid-column: 1 / 2;
  
    height:40px;
    width: 40px;
    border-radius: 50%;
    margin:0 auto;
}
.member-listItem label{
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    
    margin:auto 0;
    font-family: 'Assistant', sans-serif;
}
.member-listItem p, .activity-listItem p{
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    font-size: x-small;
    font-family: 'Assistant', sans-serif;
}
.member-listItem h5{
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    font-weight: 400;
    font-size: small;
    color: grey;
}
.member-listItem p{
    color: rgb(28, 97, 172);
}


/* Recent activity  */
#activity-wrapper{
    grid-area: activity;
}
.activity-listItem{
    display: grid;
    grid-template-columns: 4em auto 1.5em;
    grid-template-rows: 50% 50%;
    /* place-items: center; */

    padding: 5px 0 5px 0;
    border-bottom: 1px solid lightgray;
}
.activity-listItem h5{
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    font-weight: 400;
    font-size: small;
    color: grey;
    padding:0 10px 0 0;
}
i{
    color:rgb(38, 125, 217);
    margin: auto 0;
    
}


/* Message User */
#message-wrapper{
    grid-area: message;
}
#message-container{
    display: flex;
    flex-direction: column;
    place-items: center;
 }
#user-seach{
   height:20px;
   width: 90%;
   margin-bottom: 5px;
   border-radius: 5px; 
   border: 1px solid grey;
}
#user-message{
    height: 80px;
    width:90%;
    border-radius: 5px;
    border: 1px solid grey; 
}
#message-send{
    margin-top: 5px;
    width: 92%;
    height:30px;
    border-radius: 5px;
    border: 1px solid white;

    color: white;
    font-size: larger;
    background-color: #ed651d; 
}


/* Settings */
#setting-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;

    grid-area: settings;
}
#setting-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 10px;
    width: 90%;
    margin-bottom: 15px;
}
#email{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin:auto 5px;
}
#public{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin:auto 5px;
    
}
#email-switch{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin:auto 0;
    padding-right:50%;
}
#public-switch{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin:auto 0;
    padding-right:50%;
}
select{
    height: 30px;
    width: 90%;
    font-weight: 200;
    padding-left: 20px;
}

#settingBtn-container{
    display: flex;
    flex-direction: row;
    place-content: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 5px;
}
#setting-save{
    height:30px;
    width: 45%;

    background-color: #ed651d;
    color: white;
    font-size: large;
    border-radius: 5px;
    border:1px solid #ed651d;
}
#setting-cancel{
    height:30px;
    width: 45%;

    background-color: #737373;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: 1px solid #737373;
}


/* Transition and Animation */


/* ------Media Query------ */
@media(min-width:768px){
    body{
        display: grid;
        grid-template-columns: 10% 90% ;
        grid-template-rows: 15% 85%;

        grid-template-areas: 
        "header header"
        "nav content";
    }
    section{
        border:none;
        
    }
    /* header */
    header{
        justify-content: space-between;
        padding: 0 1em 0 1em;
    }
    #profile-img{
        display: block;
        margin-right: 1em;
    }
    #bell-icon{
        height:30px;
        width: 30px;
    }
    /* nav bar */
    #nav-list{
        flex-direction: column;
        height: 20%;
    }
    .nav-link{
        height:40px;
        width: 40px;
    }

    /* Content Grid */
    main{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 17% 10% 20% 25%;
        
        grid-template-areas:
        "lineChart lineChart"
        "barChart pieChart"
        "social social"
        "member activity"
        "message settings"
        ;
    }
    .widget-header{
        text-align: left;
        padding-left: 1em;
    }
    /* line chart */
    #line-wrapper{
        border-bottom: 1px solid rgba(97, 97 , 97, .5);
    }
    #line-chart{
        max-height: 85%;
        padding-bottom: 1em;
    }
    /* bar chart */
    #bar-wrapper{
        border-right: 1px solid rgba(97, 97 , 97, .5);
        margin:0px;
    }
    #bar-chart{
        max-height: 80%;
        max-width: 99%;
        margin:0 auto;
    }
    /* pie chart */
    #pie-layout{
        max-height: 100%;
        margin:0px;
    }    
    /* Social Media */
    #social-wrapper{
        display:block;
        padding-bottom: 7em;
        margin-top: 0px;
        border-bottom: 1px solid rgba(97, 97 , 97, .5);
        border-top: 1px solid rgba(97, 97 , 97, .5);
    }
    #social-flex{
        display: flex;
        flex-direction: row;
        margin-left:2%;
    }
    .social-container{
        
        height: 3em;
        min-width: 30%;
        margin-right:1em;
    }
    /* New Member */
    #member-wrapper{
        border-bottom: 1px solid rgba(97, 97 , 97, .5);
        border-right: 1px solid rgba(97, 97 , 97, .5);
        margin:0px;
        padding:0 5px 0 5px;        
    }
    /* Recent Activity */
    #activity-wrapper{
        border-bottom: 1px solid rgba(97, 97 , 97, .5);
        margin:0px;
        padding:0 5px 0 5px;   
    }
    .activity-listItem h5{
        font-size: 9px;
    }
    /* Message User */
    #message-wrapper{
        border-right:1px solid rgba(97, 97 , 97, .5);
        margin:0px;
    }
    #user-seach{
        height: 40px;
        width: 93%;
        font-size: 15px;
        padding:0 5px 0 5px;
    }
    #user-message{
        height: 150px;
        padding:5px 10px 0 10px;
    }
    #message-send{
        height: 40px;
        width: 98%;
    }
    /* Settings */
    #setting-wrapper{
        display: block;
        margin:0px;
        
    }
    #setting-container{
        height:10em;
        margin:0 auto;
        grid-row-gap: 0px;
    }
    #setting-timezone{
        height: 40px;
        margin-left:5%;
    }
    #settingBtn-container{
        margin:0 auto;
    }
    #setting-save, #setting-cancel{
        margin-top: .6em;
        height:40px;
    }

}